:root {
  --blue: blue;
  --wht: white;
  --bg: #f9fafe;
  --wht: #fff;
  --bbg: #f4f6ff;
  --primary: #14ccbb;
  --sec: #3ed2e6;
  --oth: #553caf;
  --yellow: #f2ef19;
  --green: #19f28c;
  --text: #868686;
  --tom: rgb(206, 64, 39);
  --radius: 5px;
  --shad: 0 4px 16px 3px #0004;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  text-decoration: none !important;
  list-style-type: none;
  transition: all .2s ease-in-out;

}
@media screen and (min-width:768px) {
  body{
  background: var(--bbg);
}
header.my-header{
display: flex;
align-items: center;
justify-content:space-between;
padding: 0 2rem;
background: var(--tom);
z-index: 999;
box-shadow:var(--shad);
margin-bottom: 3rem;
position: fixed;
width: 100%;
overflow: hidden;
}
a.brand-details{
display: flex;
align-items:center;
gap: .5rem;
flex: 0.3;
}
img.brand-logo{
height:60px;
width: 60px;
border-radius: 50%;
border: 2px solid var(--tom);
}
h2.nav-logo{
font-family:Arial, Helvetica, sans-serif !important;
color: #fff;
}
nav.the-nav{
  flex: 0.3;
}
ul.nav-list{
display: flex;
align-items: center;
gap: 1rem;

}
ul.nav-list a{
  color: #fff;
  position: relative;
  display: block;
  background: transparent;
}
ul.nav-list a:hover{
color: #000;
}
button.nav-icon{
  display: none;
}
ul.project-list{
padding: .5rem ;
background: var(--wht);
box-shadow: var(--shad);
border-radius: 5px;
z-index: 3;
position: absolute;
display: none;

}
ul.project-list li{
  color: var(--tom);
  margin-bottom: .25rem;
}
ul.project-list li:hover{
  background: var(--tom);
  color: white;
  border-radius: 3px;
}
ul.nav-list li:hover ul.project-list{
  display: block;
}
button.more-info{
  border-radius: 7px;
  background-color: var(--wht);
  color: var(--tom);
  padding: .4rem;
  box-shadow: var(--shad);
  cursor: pointer;
  position: relative;
  transform: translateX(490%);
  height: fit-content;
  width: fit-content;
}
button.more-info:hover{
  border: 1px solid white;
  background: var(--tom);
  color: #fff;
}

main.main-body{

}
section.section1{
  /* display: flex; */
  /* flex-direction: column; */
}
div.bio-sides{
  padding-top: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: white;
}
aside.bio-info{
/* display: flex; */
flex-direction: column;
align-items: center;
gap: 1.4rem;
position: relative;

/* flex: 3; */
}
img.bio-img{
  width:35%;
  max-height:80vh;
  box-shadow: var(--shad);
  position: relative;
  animation: travel 1s ease-in;
  /* flex: 1; */
  /* object-fit:scale-down; */
}
@keyframes travel {
  from{
    left: -100%;
  }
  to{
    left: 0%;
  }
}
@keyframes bounce {
  from{
    right: -100%;
  }
  to{
    right: 0%;
  }
}
h2.bio-tittle{
font-family: 'Silkscreen', cursive;
color: tomato;
display: block;
background: black;
padding: .25rem;
width: fit-content;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: var(--shad);
cursor: pointer;
margin-bottom: 1.5rem;
position: relative;
animation: bounce 1s ease-in;

}
h2.bio-tittle:hover{
  background: var(--tom);
  color: #000;
}
p.bio-desc{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 1.4rem;
font-weight: 300;
text-align:left;
line-height: 1.5rem;
position: relative;
animation: bounce 1s ease-in;

}
div.bio-socials{
  padding-top: 2.5rem;
  display: flex;
  gap: 2rem;
  position: relative;
animation: bounce 1s ease-in;
}
div.bio-socials svg{
  width: 2rem;
  height: 1.5rem;

}
div.bio-socials a{
padding: .5rem;
color:var(--tom);
display: block;
background-color:black;
width:fit-content;
border-radius: 50%;
}
div.bio-socials a:hover{
background: transparent;
padding: .5rem;
}
.skill-section{
padding: 2rem;
z-index: 1;
position: relative;
background:#111;
overflow: hidden;

}
.skill-section::before{
  content: '';
  height: 100%;
  width: 65%;
  background: var(--tom);
  right: 0%;
  bottom: 0%;
  position: absolute;
  transform: skew(-30deg);
  z-index: 3;
}
div.skills-details{
display: flex !important;
align-items: center;
gap: 1rem;
color: #000;
}
img.skill-image{
width: 50% !important;
  z-index: 5;
  border: 2px solid tomato;
  border-radius: 6px;
}
aside.skill-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
h1.skill-tittle{
font-size: x-large;
font-family: 'Silkscreen', cursive;
margin-bottom: 1rem;
}
p.skills-desc{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding-bottom: 1rem;
}
div.skill{
display: flex;
align-items: center;
padding: 1rem;
background-color: #ffffff15;
margin-bottom: .5rem;
width: 70%;
}
div.skill svg{
  padding: 1rem;
  display: block;
  background-color: var(--tom);
  width: fit-content;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 50%;
}
p.skill-paragraph{

}
section.project-section{
background:#1111;
padding: 2rem;
}
div.project-head{
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
}
h1.projecct-tittle{
font-family: 'Press Start 2P', cursive;
font-weight: 200;
font-size: large;
margin-top: 5rem;

}
p.project-desc{
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-bottom: 2rem;
}

div.project-category{
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
}
button.project-btn{
padding: .5rem;
border-radius: 15px;
margin-bottom: 2rem;
  background: #dbe1ff;
border: 2px solid #000;
cursor: pointer;
font-size: medium;
font-family: 'Silkscreen', cursive;
}
button.project-btn:hover{
  background: #000;
  color: #dbe1ff;
}
div.allprojectcards{
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
}
div.project-cards{
padding:.5rem;
border-radius: 4px;
background-color: grey; 
position: relative;
height: 30vh;
width: 50%;
overflow: hidden;
box-shadow:0 3px 4px 1px #000;
display: none;
}
div.hide{
  display: none;
}
div.project-cards img{
  position: absolute;
    top: 0;
     left: 0;
width: 100%;
height: 100%;
z-index: 2;
opacity: 0.6;
}
div.web1{
 z-index: 5;
position: absolute; 
top: 69%;
 left: 40%;
}
div.web1 button{
  padding: 0.25rem;
  margin-top: .5rem;
  border-radius: 3rem;  
  border: 2px solid black;
  background: #dbe1ff;
  cursor: pointer;

}
  div.web1 button:hover{
    background: #000;
    color: #dbe1ff;
    border: 2px solid gray;
}
footer.socials{
  padding: 3rem 2rem;
display: flex;
gap: 4rem;
background: rgb(196, 75, 54);
height: fit-content;
width: 100%;
position: relative;
cursor: pointer;
}
div.social-head{
  text-align: justify;
}
div.social-head h1{
  color: white;
}
div.social-head p{
  color: white;
  margin-bottom: 1.5rem;
}
div.social-head h1:hover,div.social-head p:hover{
  color: #000;
}

div.social-sec{
color: white;
margin-left: 2rem;
}
div.social-sec a{
color: white;
}
div.social-sec h3{
  margin-bottom: .5rem;
}
div.social-sec h3:hover,div.social-sec a:hover{
color: #000;
}
div.contacts{
display: flex;
flex-direction: column;
gap: 0.5rem;
}
div.contacts svg{
margin-right: .5rem;
}
div.social{
color: white;
}
div.social h3{
  margin-bottom: .5rem;
}

div.social small{
  position: absolute;
  bottom: 0;
  right: 2%;
}
div.social a{
  color: white;
}
div.social a:hover,div.social h3:hover{
  color: #000;
}
div.social-med{
display: flex;
flex-direction: column;
gap: .5rem;
color: white;
}
div.social-med svg{
  margin-right: .5rem;
}
main.extra-body{
  background: #fff;
}
section.extra-bio{
  padding: 5rem 3rem;
  background: #fff;
  /* display: flex; */
  /* justify-content: space-between; */
  /* gap: 7rem; */
}
button.go-back{
  border-radius: 7px;
  background-color: var(--wht);
  color: var(--tom);
  padding: .5rem;
  box-shadow: var(--shad);
  cursor: pointer;
  /* display: none; */
}
button.go-back:hover{
  background: var(--tom);
  color: #fff;
  border: 2px solid #fff;
}

main.extra-body h1{
font-family: 'Silkscreen', cursive;
   
}
main.extra-body p{
font-family: 'Silkscreen', cursive;
   font-size: large;
   font-weight: 400;
}
div.carousel{
  max-height:20rem;
  max-width: 26rem;
margin-left: 13rem;
}
div.carousel img{
  height: 19rem;
  /* width: 12rem; */
}
div.schools{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.schools img{
  box-shadow: var(--shad);
border-radius: 3px;
margin-bottom: 2rem;
}
div.schools img:hover{
  transform: scale(1.5);
}
section.hobby{
background: var(--bbg);
padding: 1rem;
}
div.hobby-head{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.hobby-head h1{
margin-top: 4rem;
}

ul.hobby-list{
  list-style-type:decimal !important;
}
section.music{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.music-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.music-header h1{
margin-top: 4rem;
}
iframe.youtube{
max-width: 15rem !important;
max-width: 10rem;
}
}







@media screen and (max-width:768px) {
 body{
  background: var(--bbg);
}
header.my-header{
display: flex;
align-items: center;
justify-content:space-between;
padding: 0 1.5rem;
background: var(--tom);
z-index: 999;
box-shadow:var(--shad);
margin-bottom: 3rem;
position: fixed;
width: 100%;
/* display: none; */
/* overflow: hidden; */
}
nav.the-nav{
    /* display: none; */
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: var(--tom);
    width: 100%;
}
nav.show-nav{
    /* display: flex !important; */
    flex-direction: column;
    left: 0;
    transition: all .5s ease-in-out;
    height: max-content;
    
}
a.brand-details{
display: flex;
align-items:center;
gap: .5rem;
flex: 0.3;
}
img.brand-logo{
height:50px;
width: 50px !important;
border-radius: 50%;
border: 2px solid var(--tom);
}
h2.nav-logo{
font-family:Arial, Helvetica, sans-serif !important;
color: #fff;
}
/* nav.the-nav{
  flex: 0.3;
} */
ul.nav-list{
display: flex;
flex-direction: column;
gap: .3rem;
} 
ul.nav-list a{
  color: #fff;
  position: relative;
  display: block;
  background: transparent;
}
ul.nav-list a:hover{
color: #000;
}
ul.project-list{
padding: .5rem ;
background: var(--wht);
box-shadow: var(--shad);
border-radius: 5px;
z-index: 3;
position: absolute;
display: none;
}
ul.project-list li{
  color: var(--tom);
  margin-bottom: .25rem;
}
ul.project-list li:hover{
  background: var(--tom);
  color: white;
  border-radius: 3px;
}
ul.nav-list li:hover ul.project-list{
  display: block;
}
button.more-info{
  border-radius: 7px;
  background-color: var(--wht);
  color: var(--tom);
  padding: .4rem;
  box-shadow: var(--shad);
  cursor: pointer;
  margin-bottom: 1rem;
  /* display: none; */
}
button.nav-icon {
  background: var(--tom);
  color: #fff;
  border: 2px solid #dbe1ff;
  padding: .3rem;
  border-radius: 50%;
}
button.more-info:hover{
  border: 2px solid white;
  background: var(--tom);
  color: #fff;
}

main.main-body{

}
section.section1{
  /* display: flex; */
  /* flex-direction: column; */
}
div.bio-sides{
  padding-top: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: white;
}
aside.bio-info{
/* display: flex; */
flex-direction: column;
align-items: center;
gap: 1.4rem;
/* flex: 3; */
}
img.bio-img{
  width:40%;
  height:37vh;
  box-shadow: var(--shad);
  /* flex: 3; */
  /* flex: 1; */
  /* object-fit:scale-down; */
  position: relative;
  animation: travel 1s ease-in;
}
@keyframes travel {
  from{
    left: -100%;
  }
  to{
    left: 0%;
  }
}
@keyframes bounce {
  from{
    right: -100%;
  }
  to{
    right: 0%;
  }
}
h2.bio-tittle{
font-family: 'Silkscreen', cursive;
color: tomato;
display: block;
background: black;
padding: .25rem;
width: fit-content;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
box-shadow: var(--shad);
cursor: pointer;
margin-bottom: 1rem;
position: relative;
  animation: bounce 1s ease-in;

}
h2.bio-tittle:hover{
  background: var(--tom);
  color: #000;
}
p.bio-desc{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 1rem;
font-weight: 300;
text-align:left;
line-height: 1.5rem;
position: relative;
animation: bounce 1s ease-in;

}
div.bio-socials{
  padding-top: 1.5rem;
  display: flex;
  gap: .7rem;
  position: relative;
  animation: travel 1s ease-in;

}
div.bio-socials svg{
  width: 1.4rem;
  height: 1.5rem;
}
div.bio-socials a{
padding: .3rem;
color:var(--tom);
display: block;
background-color:black;
width:fit-content;
border-radius: 50%;
margin-bottom: 1rem;
}
div.bio-socials a:hover{
background: transparent;
padding: .3rem;
}
.skill-section{
padding: 1rem;
z-index: 1;
position: relative;
background:#111;
overflow: hidden;
width: fit-content;
line-height: 1.5rem;
}
.skill-section::before{
  content: '';
  height: 100%;
  width: 74%;
  background: var(--tom);
  right: 0%;
  bottom: 0%;
  position: absolute;
  transform: skew(0deg);
  z-index: 3;
}
div.skills-details{
display: flex !important;
align-items: center;
gap: .5rem;
color: #000;
}
img.skill-image{
width: 36% !important;
height: 40vh;
  z-index: 5;
  border: 2px solid tomato;
  border-radius: 6px;
}
aside.skill-right{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  z-index: 5;
  position: relative;
  right: 10%;
}
h1.skill-tittle{
font-size: x-large;
font-family: 'Silkscreen', cursive;
margin-bottom: 1rem;
}
p.skills-desc{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding-bottom: 1rem;
}
div.skill{
display: flex;
align-items: center;
padding: .5rem;
background-color: #ffffff15;
margin-bottom: .5rem;
max-width: 50%;
}
div.skill svg{
  padding: .2rem;
  display: block;
  background-color: var(--tom);
  width: fit-content;
  height: 1rem;
  /* margin-left: .2rem; */
  border-radius: 50%;
}
p.skill-paragraph{
}
section.project-section{
background:#1111;
padding: 1.2rem;
}
div.project-head{
display: flex;
flex-direction: column;
align-items: center;
gap: .2rem;
}
h1.projecct-tittle{
font-family: 'Press Start 2P', cursive;
font-weight: 200;
font-size: large;
margin-top: 5rem;
}
p.project-desc{
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-bottom: 2rem;
}
div.project-category{
display: flex;
justify-content: center;
align-items: center;
gap: .4rem;
}
button.project-btn{
padding: .2rem;
border-radius: 15px;
margin-bottom: 2rem;
  background: #dbe1ff;
border: 2px solid #000;
cursor: pointer;
font-size: medium;
font-family: 'Silkscreen', cursive;
}
button.project-btn:hover{
  background: #000;
  color: #dbe1ff;
}
div.allprojectcards{
display: flex;
justify-content: center;
align-items: center;
gap: .5rem;
}
div.project-cards{
padding:.5rem;
border-radius: 4px;
background-color: grey; 
position: relative;
height: 20vh;
width: 50%;
overflow: hidden;
box-shadow:0 3px 4px 1px #000;
display: none; 
}
div.project-cards img{
  position: absolute;
    top: 0;
     left: 0;
width: 100%;
height: 100%;
z-index: 2;
opacity: 0.6;
}
div.web1{
 z-index: 5;
position: absolute; 
top: 62%;
 left: 20%;
}
div.web1 button{
  padding: 0.25rem;
  margin-top: .5rem;
  border-radius: 3rem;  
  border: 2px solid black;
  background: #dbe1ff;
  cursor: pointer;
}
div.web1 button:hover {
    background: #000;
  color: #dbe1ff;
    border: 2px solid gray;
}
footer.socials{
padding: 1.5rem .3rem;
display: flex;
gap: .3rem;
background: rgb(196, 75, 54);
height: fit-content;
width: 100%;
position: relative;
cursor: pointer;
}
div.social-head{
  text-align: justify;
}
div.social-head h1{
  color: white;
  text-align: left;
  /* font-size: large; */
}
div.social-head p{
  color: white;
  margin-bottom: 1.5rem;
  font-size: .9rem;
  line-height: 1.3rem;
  text-align: left;
}
div.social-head h1:hover,div.social-head p:hover{
  color: #000;
}
div.social-sec{
color: white;
margin-left: .1rem;
}
div.social-sec a{
color: white;
}
div.social-sec h3{
  margin-bottom: .4rem;
}
div.social-sec h3:hover,div.social-sec a:hover{
color: #000;
}
div.contacts{
display: flex;
flex-direction: column;
gap: 0.1rem;
}
div.contacts svg{
margin-right: .4rem;
}
div.social{
color: white;
}
div.social h3{
  margin-bottom: .7rem;
}

div.social small{
  position: absolute;
  bottom: 0;
  right: 2%;
}
div.social a{
  color: white;
}
div.social a:hover,div.social h3:hover{
  color: #000;
}
div.social-med{
display: flex;
flex-direction: column;
gap: .2rem;
color: white;
}
div.social-med svg{
  margin-right: .7rem;
}
main.extra-body{
  background: #fff;
}
section.extra-bio{
  padding: 5rem .5rem;
  background: #fff;
  /* display: flex; */
  /* justify-content: space-between; */
  /* gap: 7rem; */
}
main.extra-body h1{
font-family: 'Silkscreen', cursive;
   
}
main.extra-body p{
font-family: 'Silkscreen', cursive;
   font-size: 1rem;
   font-weight: 400;
}
div.carousel{
  max-height:20rem;
  width: 100%;
/* margin-left: 13rem; */
}
div.carousel img{
  height: 19rem;
  /* width: 12rem; */
}
div.schools{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.schools img{
  box-shadow: var(--shad);
border-radius: 3px;
margin-bottom: 2rem;
}
div.schools img:hover{
  transform: scale(1.7);
}
section.hobby{
background: var(--bbg);
padding: 1rem;
}
div.hobby-head{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.hobby-head h1{
margin-top: 3rem;
}
ul.hobby-list{
  /* list-style-type:decimal !important; */
}
section.music{
  padding: 0 2rem;
}
div.music-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.music-header h1{
margin-top: 4rem;
}
iframe.youtube{
  width: 20rem;
  height: 15rem;
}
button.go-back{
  border-radius: 7px;
  background-color: var(--wht);
  color: var(--tom);
  padding: .2rem;
  box-shadow: var(--shad);
  cursor: pointer;
  /* display: none; */
}
button.go-back:hover{
  background: var(--tom);
  color: #fff;
  border: 2px solid #fff;
}
}