:root {
  --blue: blue;
  --wht: white;
  --bg: #f9fafe;
  --wht: #fff;
  --bbg: #f4f6ff;
  --primary: #14ccbb;
  --sec: #3ed2e6;
  --oth: #553caf;
  --yellow: #f2ef19;
  --green: #19f28c;
  --text: #868686;
  --tom: tomato;
  --radius: 5px;
  --shad: 0 4px 16px -4px #0004;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  list-style-type: none;
  transition: all .3s ease-in-out;
}
body{
  background: var(--bbg);
}
header.my-header{
display: flex;
align-items: center;
justify-content:space-between;
padding: 0 2rem;
background: var(--tom);
z-index: 1;
box-shadow:var(--shad);
margin-bottom: 1.5rem;
}
a.brand-details{
display: flex;
align-items:center;
gap: .5rem;
flex: 0.3;
}
img.brand-logo{
height:60px;
width: 60px;
border-radius: 50%;
border: 2px solid var(--tom);
}
h2.nav-logo{
font-family:Arial, Helvetica, sans-serif;
color: #fff;
}
nav.the-nav{
  flex: 0.3;
}
ul.nav-list{
display: flex;
align-items: center;
gap: 1rem;

}
ul.nav-list a{
  color: #fff;
  position: relative;
  display: block;
  background: transparent;
}
li.active{
  color: darkgray;
}
ul.project-list{
padding: .5rem ;
background: var(--wht);
box-shadow: var(--shad);
border-radius: 5px;
z-index: 3;
position: absolute;
display: none;

}
ul.project-list li{
  color: var(--tom);
  margin-bottom: .25rem;
}
ul.project-list li:hover{
  background: var(--tom);
  color: white;
  border-radius: 3px;
}
ul.nav-list li:hover ul.project-list{
  display: block;
}
button.more-info{
  border-radius: 7px;
  background-color: var(--wht);
  color: var(--tom);
  padding: .5rem;
  box-shadow: var(--shad);
  cursor: pointer;
}
button.more-info:hover{
  border: 2px solid white;
  background: var(--tom);
  color: #fff;
}